*{
	margin: 0;
	padding: 0;
}
div{
	box-sizing: border-box;
}
.top{
	height: 100px;
	border-bottom: 1px solid red;
}
.top p{
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	font-weight: bold;
}
.center{
	height: 600px;
	position: relative;
}
.center-left{
	height: 100%;
	width: 15%;
	position: absolute;
	left: 0;
	padding-left: 10px;
	border-right: 1px solid red;
}
.center-left p,.center-right p{
	font-weight: bold;
	font-size: 18px;
}
.center-left a,.center-right a{
	text-decoration: none;
	color: black;
}
.center-left ul,.center-right ul{
	list-style-position: inside;
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.center-center{
	height: 100%;
	width: 65%;
	position: absolute;
	left: 15%;
	border-right: 1px solid red;
}
.center-right-iframe{
	width: 100%;
	height: 100%;
}
.center-right{
	height: 100%;
	width: 20%;
	position: absolute;
	right: 0;
	padding-left: 10px;
}
.botoom{
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 999;
	background-color: darkgrey;
	line-height: 50px;
	font-weight: bold;
	border-top: 1px solid red;
}